version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: supermock_db
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: supermock
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
